body{
	background: linear-gradient(to bottom, #000346 60%, #9d00c0 100%), url(fund.webp);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

canvas {
	border: 1px solid #000000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.um{
	position: relative;
	top: 50%;
}

.dois{
	position: absolute;
	right: 30px;
}
